#root {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template:
    "a b b" 1fr
    "c d d" 2fr
    "c d d" 2fr / 1fr 2fr 2fr;

  max-width: 100%;
  width: 100%;
  padding-right: 5px;
}

.row-key {
  display: flex;
  flex-direction: column;
  grid-row: 2/4;
  grid-column: 1;
}

.krow {
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
}

.rkey {
  margin: auto 5px;
  font-size: x-small;
  font-weight: bold;
}

.col-key {
  display: flex;
  grid-row: 1;
  grid-column: 2/4;
}

.kcol {
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  height: 100%;
}

.ckey {
  margin: 0px auto;
  font-size: x-small;
  font-weight: bold;
}

.gram {
  aspect-ratio: 1 / 1;
  /* width: 80vw; */
  max-height: 80vh;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  grid-row: 2/4;
  grid-column: 2/4;
}

.grow {
  display: flex;
  flex-grow: 1;
}

.tile {
  flex-grow: 1;
  flex-basis: 100%;
  background-color: #888;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0;
}

.filled {
  background-color: black;
}
